@import '../App.scss';

.chatWindow {
    width: 55%;
    min-height: 100vh;

    .wrapperChat {
        display: none;
    }

    .activeChat {
        display: block;
    }
}


@media screen and (max-width: 950px) {
    .chatWindow {
        width: 100%;
    }
  }