@import '../App.scss';

.chatList {
    width: 45%;
    font-size: 20px;
    color: $icons;
    position: relative;

    display: flex;
    flex-direction: column;

    .itemChat {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-top: 1px solid $header_background;
        cursor: pointer;

        .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $avatarBackground;
            border-radius: 1px solid $avatarBackground;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50% 7px;
            overflow: hidden;
            margin-right: 20px;
        }

        .wrapperNameChat {
            width: calc(100% - 90px);
            display: flex;
            justify-content: space-between;
        }

        .name {
            font-size: 18px;

            .span {
                font-size: 13px;
            }
        }
    }

    .active {
        background-color: $header_background;
    }

    .greating {
        padding: 20px;
        font-size: 15px;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 950px) {
    .chatList {
        width: 100%;
        flex-direction: column-reverse;

        .greating {
            padding: 20px;
            font-size: 15px;
            position: relative;
            // bottom: 0;
        }
    }

  }