$header_background: #f0f2f5;
$avatarBackground: #dfe5e7;
$icons: #54656f;
$outgoing_background: #d9fdd3;
$error_background: #ff9a2e;


.App {
  display: flex;
}

@media screen and (max-width: 950px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

